@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');

 .container{
   padding-top: 8%;
 }
 .jk{
   position: absolute;
   right: 50px;
 }